@import "paging.css";
@import "footer.css";
@import "forms.css";

body {
  font-family: Verdana, "sans-serif";
  margin: 0;
}

header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  padding: 20px 0;
  border-bottom: 1px solid black;

  h1 {
    margin: 0;
    margin-left: 20px;
  }

  nav {
    margin-left: 20px;
    margin-top: 10px;

    a {
      color: black;
      text-decoration: none;
      padding-right: 10px;
    }
  }
}

main {
  padding-top: 130px;
  margin: 20px;
}

.product {
  border: 1px solid #999;
  border-radius: 7px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(220, 220, 239);

  &:nth-of-type(odd) {
    background-color: rgb(242, 242, 247);
  }
}

.cart-section {
  position: fixed;
  top: 20px;
  right: 20px;
  width: min(420px, 90vw);
  background-color: white;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 7px;

  summary {
    cursor: pointer;
    user-select: none;
    font-weight: bold;
    padding: 10px 15px;
  }

  .cart {
    padding: 15px;
  }

  table {
    width: 100%;

    border-collapse: collapse;

    tr {
      background-color: rgb(203, 203, 203);
      border-bottom: 1px solid white;

      &:nth-of-type(odd) {
        background-color: rgb(240, 240, 240);
      }

      td {
        padding: 10px;

        &:nth-of-type(even) {
          text-align: right;
        }

        &:nth-of-type(3) {
          text-align: right;

          input {
            text-align: right;
          }
        }
      }
    }

    tfoot {
      th {
        text-align: right;
        padding: 10px;
      }
    }
  }

  button.empty-cart {
    margin-top: 20px;
  }
}